@import "bootstrap/dist/css/bootstrap.min.css";

@import "./components/navbar.css";
@import "./components/footer.css";
@import "./components/categories.css";
@import "./components/customers.css";
@import "./components/products.css";
@import "./components/purchases.css";
@import "./components/sales-items.css";
@import "./components/sales.css";
@import "./components/settings.css";
@import "./components/stocks.css";
