body {
            background-color: #F1F5F9;
        }
        .navbar {
            background-color: #1E293B !important;
        }
        .navbar-brand, .nav-link {
            color: #ffffff !important;
        }
        .nav-link:hover {
            color: #38BDF8 !important;
        }
        footer {
            background-color: #0F172A;
            color: #fff;
            padding: 15px 0;
            text-align: center;
            margin-top: 30px;
        }